@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    

<div class="contact">
    <div class="contact-container">
        <div class="img-container">
            <iframe src="@Model.Value("googleMapsUrl")" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="form-container">
            
            
            <form action="">
                
                <h2>@Model.Value("contactFormHeader")</h2>

                <div class="top-form">
                    <input type="text" placeholder="@Model.Value("contactFormFirstInputPlaceholder")">

                    <input type="text" name="" placeholder="@Model.Value("contactFormSecondInputPlaceholder")">

                </div>
                <div class="bottom-form">
                    <textarea name="" id="" cols="30" rows="10" placeholder="@Model.Value("contactFormTextboxPlaceholder")"></textarea>
                </div>
                <button>@Model.Value("contactFormButtonText")</button>
            </form>


        </div>

    </div>

</div>
