@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ProductItemPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
    ViewData["PageTitle"] = @Model.Value("productName");
    ViewData["PageDescription"] = "Detailed view of product " + @ViewData["PageTitle"];
}





<div class="product-details">
        <div class="product-details-container">
            
            
            <div class="product-img-container">
                <img src=@Model.Value("productImage") alt="">
            </div>

            <div class="product-right-text">
                
                <h1>@ViewData["PageTitle"]</h1>
                <p><strong>Category: </strong> @Model.Value("productCategory")</p>
                <p><strong>Rating: </strong> @Model.Value("productRating")/5</p>
                <p><strong>Price: </strong> @Model.Value("productPrice") $</p>
                <div class="product-description-container">
                    <p><strong>Description: </strong> @Model.Value("productDescription")</p>
                </div>
            </div>

        </div>

    </div>